<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- Nav   -->
  


<!--NAVBAR START-->  
{% include navbar.html %}
  
<!-- END OF NAVBAR -->
  
<!-- Content Body -->  

  
  <div id="about" class="container bgcustom mt-4 mb-4 p-4">
    <div class="columns">
      <div class="column has-text-right" >
        <h2>Web Designer</h2>
        <h2> Entrepeneur </h2>
        <h2>Dancing Enthusiast </h2>
          <hr class="display-2">
       <p> Graudated Eastern Washington University earning a bachelor's degree in Visual Communication Design with a UX Certificate and a minor in business. I like to design websites, fix other people's problems, and occasionally write poetry. To check out my work, click my portfolio up top, or simply keep scrolling. </p>
        
      </div>
      <div class="column text-center">
        <img src='images/ES_headshots-9.jpg' alt='me'>      
      </div>
    </div>
  </div>
  
  <div id="portfolio" class="container bgcustom mt-4 mb-4 p-4"> 
    <div class="container-fluid mb-3">
      <h2 class="text-center sirin"><p>Portfolio</p></h2>
    </div>

   <div class="columns">
    
<div class="container">
  <div class="content">
    <a href="https://invis.io/27614404557JYN#/299543120_Landing_Page" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/routespage.png">
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">Routes App</h3>
        <p class="content-text">Click to view the prototype on Invision</p>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a href="https://invis.io/9PKNZT88WQ4#/293038702_HOME" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/spacedcover.png">
      <div class="content-details fadeIn-top">
        <h3>SPACED APP</h3>
        <p>Click to view the prototype on Invision</p>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="content">
    <a href="https://invis.io/RFGGR77C5ZA#/286569318_Tablet_Homepage" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/ewudesignerwebsite.png">
      <div class="content-details fadeIn-left">
        <h3>EWU Student Designers App</h3>
        <p>Click to view the prototype on Invision</p>
      </div>
    </a>
  </div>
</div>
  
  </div>                                
                                   
                                   
    <div class="columns">

<div class="container"> 
  <div class="content">
    <a href="https://codepen.io/esalladay/project/live/AMWEje/" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/productpromo.png">
      <div class="content-details fadeIn-right">
        <h3>Product Promo</h3>
         <p>Click to View</p>
      </div>
    </a>
  </div>
</div>

<div class="container">
 
  <div class="content">
    <a href="https://esalladay.github.io/vforvendetta/" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/vforvendetta.png">
      <div class="content-details fadeIn-top fadeIn-left">
        <h3>V For Vendetta Trailer Site</h3>
        <p>Click to View</p>
      </div>
    </a>
  </div>
</div>

<div class="container"> 
  <div class="content">
    <a href="https://esalladay.github.io/google-doodle/" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="images/googledoodle.png">
      <div class="content-details fadeIn-top fadeIn-right">
        <h3>Google Doodle</h3>
        <p>Click to View</p>
      </div>
    </a>
  </div>
</div>

 </div>
    
    
    
    
  </div>
  
  
  
  
<!--  end portfolio  -->
  




<!--FORM-->
  <div id="contact" class="container bgcustom mt-4 mb-4 p-4">
    <div class="container-fluid mb-3">
      <h2 class="text-center sirin"><p>Contact</p></h2>
    </div>
      <p>Have any questions? You may contact me via my email address ellidiesalladay@eagles.ewu.edu or find me on Twitter and LinkedIn, where I'd be happy to answer any questions. </p>
       <div class="container text-center mt-5">
        <div class="row">
                    <div class="col-3">
            <a target='_blank' href="https://www.linkedin.com/in/ellidie-salladay-567681140/"><i class="fab fa-linkedin-in display-4"></i></a>
          </div>
          <div class="col-3">
            <a target='_blank' href="https://www.facebook.com/ellidie.salladay"><i class="fab fa-facebook-square display-4"></i></a>
          </div>
        <div class="col-3">
          <a target='_blank' href="https://twitter.com/ellidie"><i class="fab fa-twitter-square display-4"></i></a>
          </div>
        
        <div class="col-3">
          <a target='_blank' href="https://codepen.io/esalladay"><i class="fab fa-codepen display-4"></i></a>
         </div>
        </div>
       </div>
      </div>

</p>
    </div>
   </div>
  </div>  



<!--  Include Foot  -->
                                                                                                    
<div class="container-fluid bgcustom p-2 pt-3 text-center"> 
  <span id="foot">&#9400;ellidiedesigns 2018. All rights reserved.</span>
</div>    
                 
<!-- Scripts -->
  <script src="js/scripts.js"></script>
    <script defer src ="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>


</body>
</html>  