<!DOCTYPE html>
<html>

<!-- Include Head -->
{% include "_includes/head.html" %}


<body>

<!-- Nav   -->
  {% include "_includes/navbar.html" %}
  
<!-- Content Body -->  
{% block main %}



{% endblock %}


<!--  Include Foot  -->
{% include "_includes/scripts.html" %}

</body>
</html>  